* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: left;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
    align-items: normal;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 10px;
    
   
  }
  
  .card {
    border-radius: 10px;
    display: flex;
    height: 500px;
    width: 1000px;
    gap: 30px;
   background-color: #E5D8FF;
   }
  
  .card img {
    max-width: 50%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 50px;
    max-width: 100%;
    height: auto;
    text-align: left;
    justify-content: left;
    margin:20px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card-content p {
    font-size: 1em;
    color:  #6F7373
 }
 .flex-container{
  width:100%;
  display: flex;
  flex-direction: row;
  
 }
 .flex-box{
  width: 200px;
  height: 100px;
  background: linear-gradient(rgb(217, 146, 217),rgb(86, 34, 34));
  color:white;
  font-size: 15px;
  text-align:center;
  line-height: 110px;
  border-radius: 20px;
  margin:10px;
}
.containerr {
  margin-top: 20px;
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
    align-items: normal;
    height: 40vh;
    background-color:#483EFF;
    border-radius: 10px;
    border-top-left-radius: 10px;
}

.left-side {
  width: 25%;
  background-color: #483EFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.button {
  margin: 10px 0;
  padding: 20px 30px;
  width: 160px;
  font-size: 16px;
  cursor: pointer;
  border: solid white;
  background-color: #483EFF;
  color: white;
  border-radius: 10px;
}
.right-side{
  margin: 20px 20px;
  width: 60%;
  height:35vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align:left;
  padding: 20px;
 box-sizing: border-box;
 border-radius: 10px;

}
.right-side button{
  float: right;
  margin:  2px 0px;
  padding: 20px 50px;
  width: 100px;
  height:50px;
  font-size: 16px;
  justify-content: right;
  display: flex;
  background-color: black;
  
}
